*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body{
    background: #f2f2f2;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form{
    background: #fff;
    padding: 20px;
    width: 320px;
    
    border-radius: 6px;
}

.form-labels{
     display: block;
    margin-top: 12px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}